
/* ---- particles.js container ---- */
body
{
    margin: 0;
}

.cover-bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    z-index: -1;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

/*-----------------------------------------------------------*/

.container {
    position: absolute;
    display: block;
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
    /*put backgound as rgba and reduce opacity later on*/
    padding: 10px;
    height: 100%;
    left: 20px;
}

img {
    max-width: 100%;
}

.section
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    top: 100px;
    height: 100%;

}



.section-wrapper
{
    width: 100%;
    max-width: 800px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,.8);
    border-radius: 20px;
}

.title-desc h3, .title-desc h1
{
    font-family: 'Apercu Mono', monospace;
    text-transform: Uppercase;
}






