
body {
    background-color: #314455;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-fluid {
    max-width: 1200px;
    padding-top:100px;
    padding-left: 50px;
    padding-right: 50px;
}

h4
{
    text-decoration: none;
    font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    letter-spacing: .1rem;
    font-weight: normal;
    margin-top: 10px;
    background-color: #191d26;

}


[class*="row"] {
    margin-bottom: 1em;
    justify-content: center;

}

[class*="col-"] {
    background: #efefef;
    border: 1px solid #ddd;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%;
}

.card
{
    z-index: 1;
    align-items: center;

}








