* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    height: 100%;
}

@font-face {
    font-family: "OpenSans-Regular";
    font-weight: normal
}

@font-face {
    font-family: 'Apercu Mono', monospace;
    font-weight: bold
}

h1, h2, h3 {
    font-family: 'Apercu Mono', monospace;
    text-transform: Uppercase;
}

body {
    font-size: 0.75em;
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
    color: #000;
    background-color: #FFF;
    border: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
    height: 100%;
}

/*scrollbar settings*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #FC4445;
}

::-webkit-scrollbar-thumb:hover {
    background: #FC4445;
}

h1 {
    color: #FC4445;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    line-height: 2rem;

}

h2 {
    color: #FC4445;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    margin: 1.5rem 0 .5rem 0
}

h3 {
    font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    letter-spacing: .1rem;
    margin: -1rem 0;
    font-weight: normal
}

.breadcrumbs {
    font-size: .75rem;
    letter-spacing: 0.07rem
}
.breadcrumbs a{
    text-decoration: none;
    font-family: 'Apercu Mono', monospace
}

.breadcrumbs a:hover
{
    color: #FC4445;
    font-weight: bold;
    text-decoration: none;
}

ul {
    padding: 0
}

li {
    margin-left: 1rem
}

ul li:before {
    margin: 0 .5rem 0 0
}

.img {
    margin: 2rem 0 2rem 0;
    width: 40rem
}

.img > img {
    width: 100%;
    padding: .5rem;
    border: 1px solid #FC4445;
    -webkit-box-shadow: 0.2rem 0.2rem #FC4445;
    box-shadow: 0.2rem 0.2rem #FC4445;
}

figcaption {
    padding: 0.5rem;
    font-size: 0.65rem;
    font-style: italic;
    color: #FC4445;
}

.Project1, .Project2
{
    margin: 0 20%;
    width: 75%;
}

footer {
    margin-top: 10px;
    display: block;
    text-align: center;
    background-color: #FFF;
    color: rgb(120, 120, 120);
    font-size: 0.5rem;
    position: relative;
    z-index: 5;
    padding: 0.2rem;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media (min-width: 1300px) {
    .introText {
        top: 42%;
        right: 12%
    }

    .Project1 > p, .Project2 > p {
        max-width: 55%;
    }
}

@media (max-width: 1290px) {

    .Project1 > p, .Project2 > p {
        max-width: 35rem
    }

    .img {
        width: 100%
    }

}

@media (max-width: 800px) {

    h3 {
        font-size: .6rem
    }

    li {
        display: list-item
    }

    .Project1 > p, .Project2 > p{
        font-size: .7rem;
        margin: 0.5rem;
        max-width: 90%
    }
    .img {
        width: 95%
    }

    footer {
        position: relative
    }

}